
  @media screen and (max-width: 350px) {
    .my-img{
        width:90% 
    }
      p {
        font-size:70%;
      }
      h3 {
          font-size:95%;
      }
    

    #nescss-header .container {
        margin-left: 10%;
    }
    #nescss-header h1 {
        font-size: 90%;
        text-align: center;
    }
    #nescss-header p {
        font-size:65%;
        text-align: center;
    }
    .social-buttons{
        display:none;
    }
    .about-me-desc{
        padding-top:5%;
    }

    .topic-title{
        font-size: 90%;
    }

    .email{
        font-size:65%;
        text-align: left;
    }
    .email a{
        float: none;
    }
    .socials{
        text-align:center;
        padding-bottom:25px;
    }
    .nes-logo{
        display: none  !important;
    }
  }


@media screen and (min-width: 350px) and (max-width: 580px) {
    p {
        font-size:70%;
      }
      h3 {
        font-size:95%;
    }
  #nescss {
    margin-left:auto;
    margin-right:auto;
    width:95%;
  }
    #nescss-header .container {
        margin-left: 10%;
    }
    #nescss-header h1 {
        font-size: 100%;
        text-align: center;
    }
    #nescss-header p {
        font-size:65%;
        text-align: center;
    }
    .social-buttons{
        display:none;
    }
    .about-me-desc{
        padding-top:5%;
    }

    .topic-title{
        font-size: 90%;
    }

    .email{
        font-size:65%;
        text-align: left;
    }
    .email a{
        float: none;
    }
    .socials{
        text-align:center;
        padding-bottom:25px;
    }


  }


  @media screen and (min-width: 580px) and (max-width: 768px) {
    p {
        font-size:70%;
      }
      h3 {
        font-size:95%;
    }


    #nescss-header h1 {
        font-size: 100%;
        text-align: center;
    }
    #nescss-header p {
        font-size:85%;
        text-align: center;
    }
    .topic-title{
        font-size: 90%;
    }
    .email{
        font-size:65%;
        text-align: left;
    }
    .email a{
        float: none;
    }
    .socials{
        padding-bottom:25px;
    }

        .socials{
        margin-left:38%;
        margin-bottom:10px;
    }
  }
  

  
  @media screen and (min-width: 768px)  and (max-width: 1024px) {
    p {
        font-size:70%;
      }
      h3 {
        font-size:95%;
    }

  
    #nescss-header h1 {
        font-size: 100%;
        text-align: center;
    }
    #nescss-header p {
        font-size:85%;
        text-align: center;
    }
    .topic-title{
        font-size: 90%;
    }
    .email{
        font-size:65%;
        text-align: left;
    }
    .email a{
        float: none;
    }
    .socials{
        padding-bottom:25px;
    }

  }