
body {
  padding-bottom:50px;

}


/* Header */
header {
border-bottom: 4px solid #D3D3D3;
background-color: white;
}

header > .container {
display: flex;
align-items: baseline;
max-width: 980px;
margin: 0 auto;
padding-top: 1rem;
transition: all 0.2s ease;
}

header > .container > .nav-brand {
margin-right: auto;
}
header > .container > .social-button {
margin-left: auto;
}

.nav-brand .brand-logo {
margin-right: 1rem;
}
.nav-brand > a {
color: #212529;
text-decoration: none;
}


/* custom */

.nes-progress {
  height:25px;
}
.skill{
  font-size:80%
}
.topic-title{
  margin-top:30px;
}

.resume{
  margin-top:30px;
}

.my-img{
  border: solid 1px #5eeb34;
  background-color: black;
  padding-right:0;
  margin-right:0;

}
.my-img img{
  display:block; 
  margin:0 auto; 
  max-width:100%;
}

.about-me-desc {
  padding-left:0;
  margin-left:0;
}

.work-section{
  margin-top:20px;
}

.work-section img{
  width:100%; 
  height:auto; 
  image-rendering: pixelated; 
  image-rendering: -moz-crisp-edges;
}

.work-section li{
  font-size: 80%;
  padding-top:10px;
}

.skill-block{
  margin-top:10px;
}

.education-block img{
  width:100%; 
  height:auto; 
  image-rendering: pixelated; 
  image-rendering: -moz-crisp-edges;
}

.education-block li{
  font-size: 80%;
}

.education-block .row{
  margin-top:25px;
  margin-bottom:25px;
}

.degree{
  color:green;
}

.contact-block{

  margin-bottom:50px;
}

.email a{
  float:right;
}





